.img-fluid,
.img-container,
img {
  height: 150px;
  padding: 0;
  width: 150px;
}

.img-fluid {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  overflow: hidden;
}

.img-fluid:hover {
  opacity: 0.5;
}